.main-page-container{
    padding:10px
}

.l-title{
    font-size: larger;
    text-decoration: none;
    color:black
}

.l-title:hover{
    text-decoration: none;
    font-weight: 600;
    color:black
}

.cat-flex{
    display: flex;
    flex-direction: row;
    width:100%;
    flex-wrap:wrap;
    justify-content:flex-start;
}

.cat-flex-item{
    display:flex;
    border: 0.5px solid rgb(29, 72, 85);
    border-radius:15%;
    flex: grow 3;
    margin:10px;
    padding:5px;
    background-color: azure;
    width:100px;
    height: 100px;
    align-items:center;
    justify-content: center;
}

.cat-link{
    align-self:center;
}

.one-listing{
    
}
