{% extends "auctions/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}
    <div class="main-page-container">
        <h2 class="title-list">My Listings</h2><hr>
        
        {% if message %}
            <strong>message</strong>
        {% endif %}
        
        {% for listing in listings %}
            <div class="one-listing">
                <a class="l-title" href="{% url 'onelisting' listing.pk %}">{{listing.title}}</a><br>            {% if listing.image %}
                    <img src="{{ listing.image.url }}" height="200px" width="200px" alt="prod_img">
                {% endif %}
                <div class="l-curr-price">Current price: {% if listing.curr_price %} {{listing.curr_price}} {% else %} {{listing.starting_bid}} {% endif %}€</div>
                <div class="l-details">Description: {{listing.description}}</div>
                <div class="l-details">Listed by: {{listing.user.username}}</div>
                <div class="l-details">In category: {{listing.category.name}}</div>
            </div>
            <hr>
        {% endfor %}

        {% if user.is_authenticated == False %}
            <div> Please log in or register to view your created listings. </div>
        {% endif %}
    </div>

    {% endif %}

{% endblock  %}