{% extends "auctions/layout.html" %}

{% block body %}

    {% if user.is_authenticated and user.pk == user_id %}
        <div>
            <h2>My watchlist</h2>
            <h5>{{ count }} items</h5> 
            {% for listing in listings %}
                <div>_________________________________________________________________________________________</div>
                <a href="{% url 'onelisting' listing.pk %}">{{listing.title}}</a><br>
                {% if listing.image %}
                    <img src="{{ listing.image.url }}" alt="prod_img">
                {% endif %}
                <div>Current price:{{listing.starting_bid}}€</div>
                <div>In category: {{listing.category.name}}</div>
                <form action="{% url 'remove_from_watchlist' user_id listing.pk%}">
                    <input type="submit" value="Remove from watchlist 💔"/>
                </form>
            {% endfor %}
        </div>
    {% else %}
        <h3 style="color:red">Oops...you have to log in to view your watchlist...<h3>
        <div>You will be redirected to the home page shortly...</div>
        <meta http-equiv="refresh" content="5;{% url 'index' %}">
    {% endif %}
{% endblock %}