{% extends "auctions/layout.html" %}

{% block body %}

    <div class="main-page-container">
        {% if user.is_authenticated and user.pk == user_id %}
            <div>
                <h2 class="title-list">My watchlist</h2><hr>
                <h5 style="color:white; ">{{ count }} items</h5> 
                {% for listing in listings %}
                    <div class="one-listing">
                        <a class="l-title" href="{% url 'onelisting' listing.pk %}">{{listing.title}}</a><br>                    
                        {% if listing.image %}
                            <img src="{{ listing.image.url }}" height="200px" width="200px" alt="prod_img">
                        {% endif %}
                        <div class="l-curr-price">Current price: {% if listing.curr_price %} {{listing.curr_price}} {% else %} {{listing.starting_bid}} {% endif %}€</div>
                        <div class="l-details">Description: {{listing.description}}</div>
                        <div class="l-details">Listed by: {{listing.user.username}}</div>
                        <div class="l-details">In category: {{listing.category.name}}</div><div>
                        <a class="btn btn-info" role="button"class="btn btn-primary" role="button" href="{% url 'remove_from_watchlist' user_id listing.pk%}" role = "button">Remove from watchlist 💔</a>
                        </div>
                    </div>
                    <hr> 
                {% endfor %}
            </div>
        {% else %}
            <h3 style="color:red">Oops...you have to log in to view your watchlist...<h3>
            <div>You will be redirected to the home page shortly...</div>
            <meta http-equiv="refresh" content="5;{% url 'index' %}">
        {% endif %}
    </div>
{% endblock %}