.main-page-container{
    padding:10px;
    align-items: center;
}

.flex-index{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.l-title{
    font-size:xx-large;
    text-decoration: none;
    color:black
}

.l-title:hover{
    font-weight: 600;
    color:black
}

.l-curr-price{
    font-size: x-large;
}

.l-details{
    font-size: larger;

}

.cat-flex{
    display: flex;
    flex-direction: row;
    width:100%;
    flex-wrap:wrap;
    justify-content:flex-start;
}

.cat-flex-item{
    display:flex;
    flex-direction: column;
    border: 0.5px solid rgb(29, 72, 85);
    border-radius:15%;
    flex: grow 3;
    margin:10px;
    padding:5px;
    background-color: azure;
    width:300px;
    height: 300px;
    align-items:center;
    justify-content: space-evenly;
}

@media (max-width: 576px) {  
    .cat-flex-item{
        width: 80%;
        align-self: center;
    }
}

.cat-link{
    align-self:center;
    color:black;
    font-size: larger;
}

.cat-link:hover{
    font-weight: 600;
    color:black;
}

.one-listing{
    display: flex;
    flex-direction: column;
    padding:10px;
    align-items: flex-start;
    background-color: rgb(175, 228, 235);
    border:0.2px solid black;
    border-radius: 2%;
    width:90%;
}

.create {
    background-color: rgb(175, 228, 235);
    border:0.2px solid black;
    border-radius: 2%;
    padding:10px;
}

.login-container{
    background-color: rgb(175, 228, 235);
    border:0.2px solid black;
    border-radius: 2%;
    padding:10px;
}

.listing-page{
    display: flex;
    flex-direction: column;
    padding:10px;
    align-items: flex-start;
    background-color: rgb(175, 228, 235);
    border:0.2px solid black;
    border-radius: 2%;
    width:100%;
}
